body {
    text-align: center;
}
#modal{
	width:450px;
	height:180px;
	background-color:lightgrey;
	color:black;
	font-weight:bold;
	text-align: center;
	z-index:1;
	position:absolute;
	left:50%;
	margin-left:-225px;
	top:90%;
	margin-top:-120px;
	font: 300 .85em/1.3em 'Mukta Malar';
	border-radius:5px;

border:1px solid red;
}
.popup{
	display:block;
}